body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    line-height: 1.6;
}

:root {
    --palette1: #FCB9B2;
    --palette2: #461220;
    --palette3: #B23A48;
    --palette4: #8C2F39;
    --palette5: #FED0BB;
    --header-shadow: rgba(0, 0, 0, 0.15);
  }

 
#why-love {
    padding: 4rem 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    background-color: #ffffff; 
}

#why-love .title {
    font-size: 3.5rem;
    color: var(--palette4);
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#why-love ul {
    list-style-type: disc;
    padding-left: 2rem;
}

#why-love ul li {
    font-size: 1.8rem;
    color: var(--palette2);
    margin-bottom: 1.5rem;
    line-height: 1.6;
    padding-left: 0.5rem;
    position: relative;
}

#why-love ul li::before {
    color: var(--palette3);
    font-weight: bold;
    position: absolute;
    left: -2rem;
}

#why-love ul li:hover {
    color: var(--palette3);
    font-weight: bold;
    transform: translateX(5px);
    transition: all 0.3s ease;
}

/* Tips Section */
#tips {
    padding: 4rem 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    background-color: #ffffff; 
}

#tips .title {
    font-size: 3.5rem;
    color: var(--palette4);
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#tips ul {
    list-style-type: disc;
    padding-left: 2rem;
}

#tips ul li {
    font-size: 1.8rem;
    color: var(--palette2);
    margin-bottom: 1.5rem;
    line-height: 1.6;
    padding-left: 0.5rem;
    position: relative;
}

#tips ul li::before {
    color: var(--palette3);
    font-weight: bold;
    position: absolute;
    left: -2rem;
}

#tips ul li:hover {
    color: var(--palette3);
    font-weight: bold;
    transform: translateX(5px);
    transition: all 0.3s ease;
}



.recipe-card {
    background-color: white;
    border: 1px solid var(--palette1);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 780px;
    max-width: 1200px; 
    margin-left: 200px; 
}

/* Recipe header section */
.recipe-header {
    display: flex; 
    background-color: var(--palette5); 
    padding: 20px;
    border-bottom: 2px solid var(--palette3); 
    border-radius: 8px 8px 0 0;
}

.recipe-header h1 {
    font-size: 4rem; 
    color: var(--palette4);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: var(--palette3)  0px 0px 2px;
    text-align: left; 
    white-space: nowrap;
    
}

.recipe-desc p {
    font-size: 2rem; 
    color: #333;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: -320px;
    padding: 0;
}

/* Recipe meta information - Prep time, cook time, etc. */
.recipe-meta p {
    font-size: 1.7rem; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d3535;
    margin-top: 200px;
    margin-bottom: -200px;
    margin-left: -430px;
}

.recipe-meta {
    margin-top: 2rem;
}


.recipe-image {
    flex-shrink: 0; 
    max-width: 35%; 
    margin-left: 20px; 
}

/* Change the layout for the header text */
.recipe-header .header-text {
    display: flex; 
    flex-direction: column; 
}

/* Style for image */
.recipe-image img {
    width: 100%; /* Make the image responsive */
    border-radius: 8px; /* Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(145, 25, 25, 0.81); /* Tambahkan bayangan */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Tambahkan transisi untuk transformasi dan bayangan */
}

.recipe-image img:hover {
    transform: scale(1.05); /* Perbesar gambar saat kursor diarahkan */
    box-shadow: 0 8px 16px rgba(204, 52, 52, 0.379); /* Tambahkan bayangan yang lebih besar saat hover */
}


.recipe-image img {
    width: 100%;
    border-radius: 8px; /* Add border-radius for rounded corners */
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease; 
}

.recipe-image img:hover {
    transform: scale(1.05); /* Perbesar gambar saat kursor diarahkan */
    opacity: 0.9; /* Ubah opasitas sedikit saat hover */
    box-shadow: 0 4px 20px rgba(147, 54, 54, 0.921); /* Tambahkan bayangan saat hover */
}

/* Ingredients section */
.ingredients-list {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    list-style-type: none;
    padding: 1rem;
    align-items: left;
}

.ingredients-container h3 {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    text-align: left; 
    margin: 0;
}


.ingredients-list li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

/* Style for Ingredients and Instructions section headers */


.ingredients-container h2, 
.instructions-container h2 {
    margin-top: 20px;
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #333;
    margin-bottom: 10px;
}

/* Styling for the container to look boxed */
.recipe-container {
    padding: 20px;
}


.instructions-list {
    list-style: none; /* Menghilangkan angka default dari list */
    padding: 0;
    margin-left: 10px;
    counter-reset: step-counter;
}

.instructions-list li {
    position: relative;
    padding-left: 40px; /* Memberi ruang untuk bulatan */
    margin-bottom: 15px;
    list-style-type: none; /* Menghindari penomoran default */
}

.instructions-list li::before {
    counter-increment: step-counter;
    content: counter(step-counter); /* Menampilkan angka dalam bulatan */
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--palette3);
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    line-height: 25px;
}

input[type="checkbox"].checked {
    accent-color: var(--palette3); /* Mengubah warna centang menjadi orange */
}

input[type="checkbox"] {
    width: 20px; /* Atur lebar checkbox */
    height: 15px; /* Atur tinggi checkbox */
    transform: scale(1.5); /* Membesarkan tampilan checkbox */
    margin-right: 10px; /* Memberikan jarak antara checkbox dan teks */
}

/* Nutrition Section */
.nutrition-container {
    margin-top: 30px;
    padding: 15px;
    background-color: #FED0BB;
    border: 1px solid var(--palette4);
    border-radius: 5px;
}

.nutrition-container h2 {
    color: #461220;
    margin: 0;
    font-size: 2.2rem;
}

.nutrition-container p {
    color: #461220;
    margin: 0;
    font-size: 1.8rem;
}

.nutrition-container small {
    font-size: 1.5rem;
    color: #643636;
}

/* Responsive design for smaller screens */
@media (max-width: 992px) {
    .recipe-card {
        margin-left: 70px; 
    }
}

@media (max-width: 768px) {
    .recipe-card {
        margin-left: 50px; 
        width: 600px;
    }
    
    .recipe-header h1 {
        font-size: 3rem;    
    }
    
    .recipe-desc p {
        font-size: 1.8rem; 
        margin-top: 60px;
        margin-left: -240px;
    }
    
    .recipe-meta p {
        font-size: 1.4rem; 
        margin-top: 200px;
        margin-left: -310px;
    }
    
    .recipe-meta {
        margin-top: 0rem;
    }

    .ingredients-list {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .ingredients-container h3 {
        font-size: 1.8rem;
    }
    
    
    .ingredients-container h2, 
    .instructions-container h2 {
        font-size: 2.5rem;
    }
    
    .nutrition-container h2 {
        font-size: 2rem;
    }
    
    .nutrition-container p {
        font-size: 1.5rem;
    }
    
    .nutrition-container small {
        font-size: 1.2rem;
    }

    .ingredients-list li, .instructions-list li {
       font-size: 1.5rem;
    }

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 600px) {
    .recipe-card {
        margin-left: 3px; 
        width: 500px;
        padding-bottom: 2rem;
    }
    
    .recipe-header h1 {
        font-size: 2rem;  
        padding-bottom: 2rem;  
    }
    
    .recipe-desc p {
        font-size: 1.5rem; 
        margin-top: 50px;
        margin-left: -160px;
    }
    
    .recipe-meta p {
        font-size: 1.4rem; 
        margin-left: -250px;
    }
    
    .recipe-meta {
        margin-bottom: 5rem;
        margin-top: 0rem;
    }

    .ingredients-list {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .ingredients-container h3 {
        font-size: 1.5rem;
    }
    
    .ingredients-container h2, 
    .instructions-container h2 {
        font-size: 1.8rem;
    }
    
    .nutrition-container h2 {
        font-size: 1.5rem;
    }
    
    .nutrition-container p {
        font-size: 1.2rem;
    }
    
    .nutrition-container small {
        font-size: 1.1rem;
    }

    .ingredients-list li, .instructions-list li {
       font-size: 1.3rem;
    }
}
