/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --palette1: #FCB9B2;
  --palette2: #461220;
  --palette3: #B23A48;
  --palette4: #8C2F39;
  --palette5: #FED0BB;
  --header-shadow: rgba(0, 0, 0, 0.15);
}

html {
  font-size: 60%;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: auto;  
  height: auto;    
}


body {
  background: #ffffff;
  font-size: 1.6rem;
  user-select: text;
}

h3 {
  color: var(--palette4);
  text-align: center;
  font-weight: bold;
  font-size: 2.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 1.6;
}

h4 {
  color: var(--palette2);
  text-align: justify;
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

section {
  scroll-margin-top: 150px;
}


/* Header */
header {
  position: sticky;
  top: 0; 
  width: 100%;
  padding: 3rem 4rem; 
  background: hsl(345, 100%, 92%, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px var(--header-shadow);
  transition: background-color 0.3s ease;
  backdrop-filter: blur(10px);
}

header:hover {
  background-color: var(--palette1);
}

.logo img {
  max-width: 300px;
  margin-right: auto; 
}

.nav_bar {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  justify-content: flex-end; 
}

.nav_bar a {
  text-decoration: none;
  color: var(--palette2);
  font-size: 1.8rem;;
  font-weight: bold;
  margin: 0 1.5rem; 
  transition: color 0.3s ease;
}

.nav_bar a:hover {
  color: var(--palette3);
  transform: translateY(-2px);

}

.nav_active {
  border-bottom: 2px solid var(--palette3);
}

.checkbtn {
  font-size: 30px;
  color: var(--palette2);
  display: none; 
  float: right;
  align-items:end;
}

#check {
  display: none; 
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--palette1); /* Add background color */
  min-width: 140px;
  z-index: 1;
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 0;
  margin-left: 8px;
  box-shadow: 5px solid var(--palette3);
  border-radius: 5px;
}

.dropdown-content li {
  display: block;
  margin-top: 1rem;
  padding: 0;
}

.dropdown-content li a {
  color: var(--palette2); /* Text color */
  padding: 6px 8px; /* Tighter padding */
  text-decoration: none;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth hover effect */
  border-bottom: 1px solid var(--palette3); /* Separator between items */
  font-size: 14px; /* Adjust font size if needed */
}

.dropdown-content li a:hover {
  color: var(--palette5); /* Hover text color */
  background-color: var(--palette4); /* Subtle background on hover */
}

.dropdown-content li:last-child a {
  border-bottom: none; /* Remove border for the last item */
}

.dropdown:hover .dropdown-content {
  display: block; /* Show the dropdown on hover */
}

.dropdown:hover a {
  color: var(--palette2); /* Change main Recipes link color on hover */
}




/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 2rem;
}

.search-container input[type="text"] {
  width: 0;
  padding: 0.8rem;
  font-size: 1.6rem;
  border: 2px solid var(--palette3);
  border-radius: 20px;
  outline: none;
  transition: width 0.3s ease;
  opacity: 0;
}

.search-container input[type="text"]::placeholder {
  color: var(--palette2);
  opacity: 0.8;
}

.search-container input[type="text"]:focus {
  width: 200px;
  opacity: 1;
  margin-left: 1rem;
}

.search-container i {
  font-size: 1.8rem;
  color: var(--palette2);
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-container i:hover {
  color: var(--palette3);
}

/* Carousel */
#slider {
  background: rgba(252, 255, 192, 0.2);
  padding: 0;
}

.slideshow-container {
  z-index: 1;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  position: relative;
}

.mySlides img {
  width: 100%;
  border-radius: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: var(--palette2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--palette4);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}

/* Sections */
section {
  padding: 3rem 0 2rem;
  background-color: #ffffff;
}

/* Home */
#home {
  padding: 5rem 10%;
  background-color: #ffffff;
}

.title {
  font-size: 2.8rem;
  text-align: center;
  font-weight: bold;
  color: var(--palette2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.text {
  flex: 2;
  margin-right: 2rem;
}

.image_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.obesity {
  width: 100%;
  max-width: 200px; 
  height: auto;
}

.o_desc {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--palette3);
  text-align: justify;
  margin-bottom: 1.5rem;
}

.indent {
  text-indent: 4rem;
}

.heart_attack {
  width: 100%;
  max-width: 400px;
  height: 300px;
  display: block;
  margin: 3rem auto;
  
}

.text-container {
  margin-bottom: 3rem;
}

/* Diabetes Section */
.content-container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.text-container-1 {
  flex: 2;
  margin-left: 3rem;
  padding: 1rem;
}

.text-container-2 {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.text-container-2 h3 {
  margin-top: 4rem;;
}

.desc-b {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--palette3);
  text-align: justify;
  margin-bottom: 1.5rem;
}


.diabetes {
  position: relative;
  width: 250px;
  height: auto;
  top: 1rem;
}

.type  {
  display: flex;
  flex-direction: column;
}

.content-container-3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem ;
}

.type p{
  margin-bottom: 0;
}

.type li {
  list-style-type: square;
}

.type1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem; 
  width: 100%;
}

.diabetes-img1 {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin-left: 2rem;
  bottom: 1.2rem;
}

.diabetes-img {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin-left: 2rem;
  bottom: 1rem;
}

/* dialy diet */
.content-container-4 {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: flex-start;
}

.kandungan {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem; 
  width: 100%;
  margin-top: 2rem;
}

.kandungan p{
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--palette3);
  text-align: justify;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.chicken-img {
  position: relative;
  max-width: 200px;
  width: 100%;
  height: auto;
  top: 0.8rem;
}

.box {
  border: 1px solid;
  border-color: var(--palette2);
  border-radius: 10px;
  padding: 10px;
  margin-left: 2rem;
  background-color: #f9f9f9; 
  margin-bottom: 3rem;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 2px var(--palette3), 0 0 5px var(--palette3), 0 0 5px var(--palette3);
}

.kandungan ul {
  padding-left: 2.5rem;
}

.todo ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* exercise */
.text-container-4 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5rem;
}

.exercise {
  max-width: 150px;
  height: auto;
  width: 100%;
  margin-left: 1rem;
}

/* others */
.text-container-5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.box1 {
  border: 1px solid;
  border-color: var(--palette2);
  border-radius: 10px;
  padding: 10px;
  margin-left: 2rem;
  background-color: #f9f9f9; 
  margin-bottom: 3rem;
}

.box1:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 2px var(--palette3), 0 0 5px var(--palette3), 0 0 5px var(--palette3);
}

/*story*/
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story p {
  text-align: center;
}

.survivor {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
/*Route*/
.route {
  margin-bottom: 2rem;
  text-align: center;
}

button {
  background-color: var(--palette1); 
  border: none; 
  max-width: 300px;
  color: var(--palette2); 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 1.8rem; 
  padding: 1rem 1.2rem; 
  margin-bottom: 3rem;
  cursor: pointer; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s, transform 0.3s; 
  
}

button:hover {
  background-color: var(--palette5); 
  transform: scale(1.05); 
}

/* Image */
.obesity:hover, .heart_attack:hover, .diabetes:hover, .survivor:hover,
.diabetes-img:hover, .diabetes-img1:hover, .chicken-img:hover, .exercise:hover
{
  transform: scale(1.1);
}

.obesity, .heart_attack, .diabetes, .survivor,
.diabetes-img, .diabetes-img1, .chicken-img, .exercise
{
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(0, 3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.in-view {
  animation: fade 0.3s 0.3s both;
}

.not-in-view {
  opacity: 0;
}



/* FOOTER STYLING */
footer {
  background: var(--palette5);
  padding: 2rem 0;
  color: var(--palette2);
  text-align: center;
}

.footer-container {
  display: flex;
  background-color: var(--palette5);
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.footer-logo img {
  max-width: 250px;
  margin-bottom: 1rem;
}

.footer-links h3, 
.footer-contact h3, 
.footer-social h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: var(--palette3);
}

.footer-contact p {
  margin: 0.3rem 0;
}

.footer-social .social-icons a {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s;
}

.footer-social .social-icons a:hover {
  color: var(--palette3);
}

.footer-bottom {
  border-top: 1px solid #000000;
  background-color: var(--palette5);
  padding-top: 1rem;
  font-size: 0.9rem;
}


/* Back to Top */
.back-to-top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  color: var(--palette2);
  text-align: center;
  line-height: 8rem;
}

.back-to-top:hover {
  color: var(--palette3);
}

/* List Styles */
ul li, ol li {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--palette3);
  margin-bottom: 1rem;
}

ul li {
  list-style-type: circle;
}

ol li {
  list-style-type: decimal;
}

/* Responsive */
@media (max-width: 992px) {
  .header {
    padding: 2rem 4%;
  }

  .logo img {
    width: 300px; 
    margin-right: 1rem;
  }

  .nav_bar a,
  .nav_bar .dropdown a,
  .search-container{
      display: none;
      width: 100%; 
  }

  .nav_bar {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
    width: 80%;
  }

  .nav_bar .dropdown {
    width: 80%; 
  }

  .nav_bar #check:checked ~ a,
  .nav_bar #check:checked ~ .dropdown a,
  .nav_bar #check:checked ~ .search-container {
      display: block; 
      margin: 1rem;
      padding: 0.5rem;
  }

  .nav_bar .dropdown-content {
    position: static;
    width: 100%; 
    margin-left: 0;
  }


  .checkbtn {
      display: block; 
      position: absolute; 
      right: 0; 
      top: 50%; 
      margin-right: 1rem; 
  }

  .content-container, .content-container-2, .content-container-3 {
    flex-direction: column;
  }

  .text {
    margin-right: 0;
  }

  .text-container-5 {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 2.4rem;
  }

  .heart_attack, .survivor {
    max-width: 300px;
  }
  
  .diabetes {
      width: 100%;
      max-width: 200px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
   }

   .image_container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
  }

   .diabetes-img1 {
    margin-top: 3rem;
   }

   .diabetes-img, .exercise {
    margin-top: 3rem;
   }

   .chicken-img {
    margin-top: 1rem;
   }
}

@media (max-width: 768px) {
  .header {
    padding: 2rem 4%;
  }

  .logo img {
    max-width: 200px;
    margin-right: 1rem;
  }

  .text-container-1, .text-container-2{
    flex-direction: column;
  }

  .text-container-4 {
    grid-template-columns: 1fr;
    place-items: center;
    
  }

  .text-container-5 {
    grid-template-columns: 1fr;
  }

  .kandungan {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .content-container-3 {
    flex-direction: column;
  }

  .diabetes-img1 {
    margin-top: 6rem;
   }

   .diabetes-img {
    margin-top: 7rem;
   }

   .chicken-img, .exercise, .obesity {
    margin-bottom: 2rem;
    margin-top: 0;
    max-width: 180px;
    height: auto;
   }

   .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-logo img {
    margin-bottom: 1.2rem;
    width: 80%;
  }

  .footer-links, .footer-contact, .footer-social {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
  }

  .footer-links ul {
    padding: 0;
    list-style: none;
  }

  .footer-links ul li {
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
  }

}

@media (max-width: 600px) {
  .header {
    padding: 2rem 4%;
  }

  .logo img{
    width: 180px;
    margin-right: 1rem;
  }

  .nav_bar .dropdown {
    width: 50%; 
    margin-right: 1rem;
  }

  .text {
    font-size: 1.4rem;
  }

  .text-container-5 {
    grid-template-columns: 1fr;
  }

  .text-container-4 {
    grid-template-columns: 1fr;
    gap: 1rem
  }

  .exercise {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block; 
    margin: 0 auto; 
  }

  .type1 {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .diabetes-img1, .diabetes-img {
    margin: 0 auto;
    bottom: 0;
    max-width: 100%;
  }

  .todo ul {
    grid-template-columns: 1fr;
}

  .title {
    font-size: 1.8rem;
  }

  .reference ul {
    grid-template-columns: 1fr;
  }

  button {
    font-size: 1.6rem;
  }

  .back-to-top {
    right: 3rem;
    bottom: 3rem;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-logo img {
    margin-bottom: 1rem;
    width: 70%; 
  }

  .footer-links, .footer-contact, .footer-social {
    margin-bottom: 0.8rem;
  }

  .footer-links ul {
    padding: 0;
    list-style: none;
  }

  .footer-links ul li {
    margin-bottom: 0.6rem;
    font-size: 1.2rem; 
  }

  .footer-contact {
    font-size: 1.2rem;
  }

  .footer-social a {
    font-size: 1.2rem;
  }
}


